    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      color: white;
    }

    body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: black;
    }

    .container{
      display: flex;
      width: 750px;
      height: 450px;
      border: 2px solid rgb(40, 5, 97);
      box-shadow: 0 0 25px rgb(40, 5, 97);
      overflow: hidden;
    }

    .form-box{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;
    }

    .form-box h2{
      font-family: "Sixtyfour", Arial, Helvetica, sans-serif;
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px;
    }

    .input-box{
      position: relative;
      width: 100%;
      height: 50px;
      margin-top: 25px;
    }

    .input-box input{
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      border-bottom: 2px solid #fff;
      padding-right: 23px;
      transition: .5s;
    }

    .input-box input:focus,
    .input-box input:valid{
      border-bottom: 2px solid rgb(40, 5, 97);
    }

    .input-box label{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 16px;
      color: #fff;
      transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label{
      top: -5px;
      color: rgb(40, 5, 97);
    }

    .input-box i{
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 18px;
      transform: translateY(-50%);
      transition: .5s;
    }

    .input-box input:focus ~ i,
    .input-box input:valid ~ i{
      color: rgb(40, 5, 97);
    }

    .btn{
      width: 100%;
      height: 45px;
      background: transparent;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      border:  2px solid #280561;
      margin-top: 20px;
    }

    .regi-link{
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
    }

    .regi-link a{
      text-decoration: none;
      color: gray;
      font-weight: 600;
    }

    .regi-link a:hover{
      text-decoration: underline;
    }

    .fondos {
      width: 50%;
      height: 100%;
      object-fit: cover;
      border-left: 2px solid rgb(40, 5, 97);
    }

    @media (max-width: 750px){
      .container {
        flex-direction: column;
        width: 90%;
        height: auto;
      }

      .fondos {
        width: 100%;
        height: 60px;
        border: none;
        border-bottom: 2px solid rgb(40, 5, 97);
      }

      .form-box {
        width: 100%;
        padding: 20px;
        align-items: center;
      }

      .form-box h2{
        font-size: 28px;
      }
    }